* {
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.m-y-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}